@using System.Security.Claims
@using Core.DAL.Entities.Identity
@using Microsoft.AspNetCore.Identity
@using Core.WebUI.Models

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
    

@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item active">
        <a class="nav-link" asp-controller="Instruction"  asp-action="Index" asp-area="author">Author <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           Hello! @((await UserManager.GetUserAsync(User)).UserName)

        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" asp-area="" asp-controller="Manage" asp-action="Index" title="Manage">Manage</a>
            <a class="dropdown-item" asp-area="" asp-controller="Account" asp-action="Logout" title="Log out">Log Out</a>
        </div>
    </li>

}
else
{
 
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Account
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" asp-area="" asp-controller="Account" asp-action="Login" title="Login">Login</a>
            <a class="dropdown-item" asp-area="" asp-controller="Account" asp-action="Register" title="Register">Register</a>
        </div>
    </li>
}


@*<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Account
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
    </div>
</li>*@
@*<div class="dropdown show">
    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Dropdown link
    </a>

    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
    </div>
</div>*@