﻿

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

/*SIGN UP FORM*/
.sign-up {
    margin-top: 150px;
}
/*END*/

/*MAIN*/
.inner-content {
    margin-top: 30px;
}

.nav-tabs-full-width {
    width: 100%;
    padding: 0;
}

.dropdown-menu {
    display: none
}

    .dropdown-menu.show {
        display: block;
    }

section {
    margin-top: 50px;
}

.more-icon {
    top: 16px;
    position: relative;
}

.read-article img {
    width: 100%;
    height: auto;
}

.body-content {
    margin-top: 50px;
}

.article-preview {
    height: 320px;
}

.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.body-content {
    padding: 50px 0;
}
/*END MAIN*/
