﻿@using Core.WebUI.Extensions
@model List<Core.BLL.DTO.InstructionDTO.InstructionPreviewDTO>
@{
    ViewData["Title"] = "Home Page";
}

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100" src="~/images/banner1.svg" alt="First slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="~/images/banner2.svg" alt="Second slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="~/images/banner3.svg" alt="Third slide">
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<section>
    <div class="row">

        @foreach (var article in Model)
        {
            <div class="col-md-4 article-preview">
                <div class="card ">
                    <div class="card-header">
                        <h2>@article.Title</h2>
                    </div>
                    <div class="card-body">
                        <p>@article.Summary.Truncate(80)</p>
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <div class="col-6">
                                <b>Created :</b>
                                <p>@article.CreatedTime</p>
                            </div>
                            @if (article.LastUpdate != null)
                            {
                                <div class="col-6">
                                    <b>Updated :</b>
                                    <p>@article.LastUpdate</p>
                                </div>
                            }
                            <div class="col-8">
                                <b>Author :</b>
                                <h6 data-container="body" data-toggle="popover" data-placement="bottom" data-content="
                                @article.AuthorAboutMe?.Truncate(80)">
                                    @article.AuthorUserName
                                </h6>
                       
                            </div>
                            <div class="col-4">
                                <a class="btn bmd-btn-fab" asp-action="Read" asp-route-id="@article.Id">
                                    <i class="material-icons more-icon">
                                        keyboard_arrow_right
                                    </i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</section>
@section Scripts {
    <script>
        $(function () {
            $('[data-toggle="popover"]').popover();
        })
    </script>
}