﻿@model Core.BLL.DTO.InstructionDTO.InstructionContentDTO

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}
<div class="card read-article col-12">
    <div class="card-header">
        <h1 class="text-center">@Model.Title</h1>
    </div>
    <div class="card-body">@Html.Raw(Model.Content) </div>
</div>

