﻿@model Core.BLL.DTO.InstructionDTO.InstructionDTO

@{
    ViewData["Title"] = $"{ViewData["Action"]} Instruction";
    Layout = "_EditorLayout";
}

<div class="row">
    <div class="card col-12">
        <div class="card-header">
            <h1>@ViewData["Action"] Instruction</h1> 
        </div>
        <div class="card-body">
            <div class="col-md-12">
                <form asp-controller="Instruction" asp-action="AddOrUpdate" method="post" >
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <input type="hidden" name="id" value="@Model.Id"/>
                    <div class="row">
                        <div class=" col-md-12 col-12">
                            <div class="form-group bmd-form-group">
                                <label asp-for="Title"></label>
                                <input asp-for="Title" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class=" col-md-12 col-xs-12">
                            <div class="form-group bmd-form-group">
                                <label asp-for="Summary"></label>
                                <textarea asp-for="Summary" class="form-control"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class=" col-12">
                            <div class="form-group bmd-form-group">
                                <label asp-for="Content"></label>
                                <textarea asp-for="Content" class="form-control"></textarea>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-default">@ViewData["Action"]</button>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/tinyMCEPack.min.js"></script>
    <script>tinymce.init(
    {
        selector: "#Content",
        skin_url: "@Url.Content("~/css/TinyMCEPack/")",
        content_css:"@Url.Content("~/css/site.css")",
        theme: "modern",
        plugins: [
            'advlist autolink link image imagetools lists charmap print preview hr anchor pagebreak spellchecker',
            'searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking',
            'save table contextmenu directionality emoticons template paste textcolor'
        ],
        height: 900,
        plugin_preview_width: 1200,
        toolbar: 'insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image | print preview media fullpage | forecolor backcolor emoticons'
        
    });</script>
    @await Html.PartialAsync("_ValidationScriptsPartial")
}

