﻿@model List<Core.BLL.DTO.InstructionDTO.InstructionSummaryDTO>

@{
    ViewBag.Title = "title";
    Layout = "_EditorLayout";
}
@{
    ViewData["Title"] = "View";
}

<h1>Your articles</h1> 
<a  class="btn btn-secondary" asp-controller="Instruction" asp-action="Create">Create</a>
<table class="table table-striped">
    <thead>
    <tr>
        <th>#</th>
        <th>Title</th>
        <th>Summary</th>
        <th>Created Time</th>
        <th>Last Update</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var temp in Model.Select((instruction,index)=>new {instruction = instruction, index = index}))
    {
        <tr>
            <th scope="row">@temp.instruction.Id</th>
            <td>@temp.instruction.Title</td>
            <td>@temp.instruction.Summary</td>
            <td>@temp.instruction.CreatedTime</td>
            <td>@temp.instruction.LastUpdate</td>
            <td>
                <div class="btn-group">
                    <button class="btn bmd-btn-icon dropdown-toggle" type="button" id="@($"ex{temp.index}")" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="material-icons">more_vert</i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-left" aria-labelledby="@($"ex{temp.index}")">
                        <a class="dropdown-item" asp-controller="Instruction" asp-action="Update" asp-route-id="@temp.instruction.Id">Update</a>
                        <a class="dropdown-item" data-toggle="modal" data-link="@Url.Content($"/instruction/delete?id={@temp.instruction.Id}")" data-target="#deleteModal">
                            Delete
                        </a>
                    </div>

                </div>
            </td>
        </tr>
    }
    </tbody>
</table>

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
              Are you really want to delete this item?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <a role="link" class="btn btn-primary">Yes</a>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $('#deleteModal').on('show.bs.modal', function (e) {

            //get data-id attribute of the clicked element
            var link = $(e.relatedTarget).data('link');

            //populate the textbox
            $(e.currentTarget).find('a[role="link"]').attr("href", link);
        });
    </script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


