﻿@using Core.DAL.Entities.Identity
@using Core.WebUI.Views.Manage
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
<ul class="nav nav-tabs nav-tabs-full-width">
    <li class="text-center col-6 nav-item">
        <a class="nav-link" is-active-route asp-controller="Account" asp-action="Login">Login</a>
    </li>
    <li class="text-center col-6 nav-item">
        <a class="nav-link" is-active-route asp-controller="Account" asp-action="Register">Register</a>
    </li>
</ul>

