﻿@model LoginViewModel


<div class="row">
    <div class="card col-12">
        <div class="card-header">
      Log in 
        </div>
        <div class="card-body">
            <div class="col-md-12">
                <form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">

                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="row">
                        <div class="col-md-12 col-xs-12">
                            <div class="form-group bmd-form-group">
                                <label class="bmd-label-floating" asp-for="UserName"></label>
                                <input asp-for="UserName" class="form-control" />
                                <span asp-validation-for="UserName" class="text-danger"></span>
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-12 col-xs-12">
                            <div class="form-group bmd-form-group">
                                <label class="bmd-label-floating" asp-for="Password"></label>
                                <input asp-for="Password" class="form-control" />
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-default">Register</button>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}