﻿
@model RegisterViewModel


<div class="row">
    <div class="card col-12">
        <div class="card-header">
            Create a new account.
        </div>
        <div class="card-body">
            <div class="col-md-12">
                <form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">

                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row">
                        <div class="col-md-6 col-12">
                            <div class="form-group bmd-form-group">
                                <label class="bmd-label-floating" asp-for="FirstName"></label>
                                <input asp-for="FirstName" class="form-control" />
                                <span asp-validation-for="FirstName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-12">
                            <div class="form-group bmd-form-group">
                                <label class="bmd-label-floating" asp-for="LastName"></label>
                                <input asp-for="LastName" class="form-control" />
                                <span asp-validation-for="LastName" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-xs-12">
                            <div class="form-group bmd-form-group">
                                <label class="bmd-label-floating" asp-for="UserName"></label>
                                <input asp-for="UserName" class="form-control" />
                                <span asp-validation-for="UserName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-12">
                            <div class="form-group bmd-form-group">
                                <label class="bmd-label-floating" asp-for="Email"></label>
                                <input asp-for="Email" class="form-control" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-xs-12">
                            <div class="form-group bmd-form-group">
                                <label class="bmd-label-floating" asp-for="FacebookId"></label>
                                <input asp-for="FacebookId" class="form-control" />
                                <span asp-validation-for="FacebookId" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-12">
                            <div class="form-group bmd-form-group">
                                <label class="bmd-label-floating" asp-for="InstagramId"></label>
                                <input asp-for="InstagramId" class="form-control" />
                                <span asp-validation-for="InstagramId" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-xs-12">
                            <div class="form-group bmd-form-group">
                                <label class="bmd-label-floating" asp-for="Password"></label>
                                <input asp-for="Password" class="form-control" />
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-12">
                            <div class="form-group bmd-form-group">
                                <label class="bmd-label-floating" asp-for="ConfirmPassword"></label>
                                <input asp-for="ConfirmPassword" class="form-control" />
                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-default">Register</button>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}