﻿<ul class="nav nav-tabs nav-tabs-full-width">
    <li class="text-center col-6 nav-item">
        <a class="nav-link" is-active-route asp-controller="Manage" asp-action="Index">Profile</a>
    </li>
    <li class="text-center col-6 nav-item">
        <a class="nav-link" is-active-route asp-controller="Manage" asp-action="ChangePassword">Password</a>
    </li>
</ul>
