﻿@{ 
    Layout = "/Views/Shared/_Layout.cshtml";
}

<div>
    <div class="row">
        <div class="inner-content col-12">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
      