﻿@{ 
    Layout = "/Views/Shared/_Layout.cshtml";
}

<h2>Manage your account</h2>

<div>
    <h4>Change your account settings</h4>
    <hr />
    <div class="row">
            @await Html.PartialAsync("_ManageNav")
            <div class="inner-content col-12">
            @RenderBody()
            </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
        
