﻿@using Core.WebUI.Models.ManageViewModels
@model Core.WebUI.Models.ManageViewModels.ChangePasswordViewModel
@{
    ViewData["Title"] = "Change password";
    ViewData.AddActivePage(ManageNavPages.ChangePassword);
}


<div class="row">
    <div class="card col-12">
        <div class="card-body">
            <h4>@ViewData["Title"]</h4>
            @Html.Partial("_StatusMessage", Model.StatusMessage)
            <form method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group bmd-form-group">
                    <label asp-for="OldPassword"></label>
                    <input asp-for="OldPassword" class="form-control" />
                    <span asp-validation-for="OldPassword" class="text-danger"></span>
                </div>
                <div class="form-group  bmd-form-group">
                    <label asp-for="NewPassword"></label>
                    <input asp-for="NewPassword" class="form-control" />
                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                </div>
                <div class="form-group bmd-form-group">
                    <label asp-for="ConfirmPassword"></label>
                    <input asp-for="ConfirmPassword" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-default">Update password</button>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
