﻿@using Core.WebUI.Models.ManageViewModels
@model Core.WebUI.Models.ManageViewModels.ProfileViewModel
@{
    ViewData["Title"] = "Profile";
    ViewData.AddActivePage(ManageNavPages.Index);
}

<div class="row">
    <div class="card col-12">

        <div class="card-body">
            <div class="col-md-12">
                <h4>@ViewData["Title"]</h4>
                @await Html.PartialAsync("_StatusMessage", ViewData["StatusMessage"])
                <form method="post">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="row">
                        <div class=" col-md-6 col-xs-12">
                            <div class="form-group bmd-form-group">
                            <label asp-for="Username"></label>
                                <input asp-for="Username" class="form-control"  disabled/>
                            </div>
                        </div>
                        <div class=" col-md-6 col-xs-12">
                            <div class="form-group bmd-form-group">
                                <label asp-for="Email"></label>
                                <input asp-for="Email" class="form-control" disabled />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class=" col-md-6 col-xs-12">
                            <div class="form-group bmd-form-group">
                                <label asp-for="FirstName"></label>
                                <input asp-for="FirstName" class="form-control" />
                            </div>
                        </div>
                        <div class=" col-md-6 col-xs-12">
                            <div class="form-group bmd-form-group">
                                <label asp-for="LastName"></label>
                                <input asp-for="LastName" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class=" col-md-6 col-xs-12">
                            <div class="form-group bmd-form-group">
                                <label asp-for="FacebookId"></label>
                                <input asp-for="FacebookId" class="form-control" />
                            </div>
                        </div>
                        <div class=" col-md-6 col-xs-12">
                            <div class="form-group bmd-form-group">
                                <label asp-for="InstagramId"></label>
                                <input asp-for="InstagramId" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-xs-12">
                            <div class="form-group bmd-form-group">
                                <label asp-for="AboutAuthor"></label>
                                <textarea asp-for="AboutAuthor" class="form-control"></textarea>
                                <span asp-validation-for="AboutAuthor" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-default">Save</button>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
